.page_404 {
  background: #fff;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-color: rgb(235, 235, 235);
  text-align: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}
